<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/advent.css'/>

</head>

<body>

<div>
    <%- htmlstring %>
    <%- snowcanvas %>
</div>
<script type="text/javascript" src="javascripts/Snow.js"></script>
<script type="text/javascript" src="javascripts/snowfall.js"></script>
</body>
</html>
