body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: darkblue;
}

a {
    color: #00B7FF;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

div.love {
    background-image: url(../images/laura.JPG);
    width: 480px;
    height: 480px;
}

.font {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: lightgrey;
    text-align: center;
}
@media only screen and (min-device-width: 480px) and (max-device-height: 568px) {
    body {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        background-color: darkblue;
    }
    a {
        color: #00B7FF;
    }
    div.love {
        background-image: url(../images/laura.JPG);
        width: 100%;
        height: 100%;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        width: 480px;
    }
}
